In [1]:
!pip install -r requirements.Txt

Requirement already satisfied: Pandas in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from -r requirements.Txt (line 1)) (1.3.2)
Requirement already satisfied: Numpy in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from -r requirements.Txt (line 2)) (1.19.5)
Requirement already satisfied: Matplotlib in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from -r requirements.Txt (line 3)) (3.4.3)
Requirement already satisfied: scikit-learn in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from -r requirements.Txt (line 4)) (0.20.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from Matplotlib->-r requirements.Txt (line 3)) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from Matplotlib->-r requirements.Txt (line 3)) (8.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from Matplotlib->-r requirements.Txt (line 3)) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from Matplotlib->-r requirements.Txt (line 3)) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from Matplotlib->-r requirements.Txt (line 3)) (0.10.0)
Requirement already satisfied: six in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from cycler>=0.10->Matplotlib->-r requirements.Txt (line 3)) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from Pandas->-r requirements.Txt (line 1)) (2021.1)
Requirement already satisfied: scipy>=0.13.3 in c:\users\my-pc\anaconda3\envs\credit\lib\site-packages (from scikit-learn->-r requirements.Txt (line 4)) (1.7.1)

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Learning Pandas

In [3]:
data=pd.Series([1,3,5,7])
data

0    1
1    3
2    5
3    7
dtype: int64

In [4]:
data.values

array([1, 3, 5, 7], dtype=int64)

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

3

In [7]:
data[1:3]

1    3
2    5
dtype: int64

In [8]:
data = pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
data['b']

0.5

In [10]:
data = pd.Series([0.25,0.5,0.75,1.0],index=['2','5','3','7'])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [11]:
data['5']

0.5

## Series as specialized dictionary

In [12]:
population_dic={'California':34534538489,
                'Texas':8989980909,
                'New York':3456346453,
                'Florida':843748638,
                'Illinois':9283891283}
population=pd.Series(population_dic)
population

California    34534538489
Texas          8989980909
New York       3456346453
Florida         843748638
Illinois       9283891283
dtype: int64

In [13]:
population['California']

34534538489

## Constructing series objects

In [14]:
# pd.Series(data,index=index)
pd.Series([2,3,4])

0    2
1    3
2    4
dtype: int64

In [15]:
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [16]:
pd.Series({1:'a',2:'b',3:'c'})

1    a
2    b
3    c
dtype: object

In [17]:
pd.Series({1:'a',2:'b',3:'c'},index=[3,2])

3    c
2    b
dtype: object

## The Pandas DataFrame Object

In [18]:
area_dic={'California':3412341,'Texas':34524399,'New York':9348234,'Florida':2374723,'Illinois':456445}
area=pd.Series(area_dic)
area

California     3412341
Texas         34524399
New York       9348234
Florida        2374723
Illinois        456445
dtype: int64

### Now we construct simple 2D objects

In [19]:
states=pd.DataFrame({'population':population,'area':area})
states

             population      area
California  34534538489   3412341
Texas        8989980909  34524399
New York     3456346453   9348234
Florida       843748638   2374723
Illinois     9283891283    456445

In [20]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [21]:
states.columns

Index(['population', 'area'], dtype='object')

## Dataframe as specialized dictionary

In [22]:
states['area']

California     3412341
Texas         34524399
New York       9348234
Florida        2374723
Illinois        456445
Name: area, dtype: int64

In [23]:
states['population']

California    34534538489
Texas          8989980909
New York       3456346453
Florida         843748638
Illinois       9283891283
Name: population, dtype: int64

## Contructing DataFrame objects

In [24]:
pd.DataFrame(population, columns=['population'])

             population
California  34534538489
Texas        8989980909
New York     3456346453
Florida       843748638
Illinois     9283891283

## From the list of dicts

In [25]:
data=[{'a':i, 'b':2*i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [26]:
pd.DataFrame([{'a':1, 'b':2},{'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

## from series objects

In [27]:
pd.DataFrame({'population':population, 'area':area})

             population      area
California  34534538489   3412341
Texas        8989980909  34524399
New York     3456346453   9348234
Florida       843748638   2374723
Illinois     9283891283    456445

In [28]:
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'],index=['a','b','c'])
# we create 3*2 matrix

        foo       bar
a  0.272264  0.147315
b  0.148546  0.035518
c  0.293875  0.016578